* {
  font-family: 'Open Sans', sans-serif;
  color: #454545;
  border-color: #454545;
}

h1 {
  font-size: 20px;
  font-weight: 800;
}

ul {
  text-decoration: none;
}

a {
  color: #454545;
  text-decoration: none;
}